/* 夜间模式显示 dark 版本 */
@media (prefers-color-scheme: dark) {
    .music-dark { display: block; }
    .music-light { display: none; }
}

/* 白天模式显示 light 版本 */
@media (prefers-color-scheme: light) {
    .music-dark { display: none; }
    .music-light { display: block; }
}